$breakpoint: 42em;
$pad: 1em;

// Primary page layout is a single column with content centered horizontally.
// It is mobile-first and as screen size allows additional columns are introduced side by side
@mixin centered-column {
  display: grid;
  grid-template-columns: min(90vw, 75ch);
  justify-content: center; // unclear if this is needed/correct
  justify-items: center;
  padding: $pad $pad;
  ul {
    // Necessary because list bullets are laid out weird
    padding-left: $pad;
  }

  p,
  blockquote {
    // This only applies for tiny paragraphs that don't even
    // fill their first line. They look a bit weird centered,
    // so left align them.
    justify-self: left;
    // necessary for markdown images wrapped in paragraphs
    // in firefox
    width: 100%;
  }

  // I don't like this but it's necessary to keep stuff like
  // the mailchimp div from overflowing the grid and forcing
  // horizontal scrollbars
  * {
    max-width: min(100%, 75ch);
  }

  // Work around markdown wrapping images
  // in paragraphs. Keep narrow images centered.
  p > img:only-child {
    display: block;
    margin: 0 auto;
  }

  p:has(img:only-child) {
    width: 100%;
  }
}

@mixin float($side) {
  display: block;
  @media (min-width: $breakpoint) {
    display: initial;
    float: $side;
    @if $side == right {
      margin-left: $pad;
    } @else {
      margin-right: $pad * 2;
    }
    max-width: 50%;
  }
}

@layer core {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    margin-top: 0.5em;
  }

  canvas,
  iframe,
  select,
  textarea,
  img,
  video,
  svg {
    max-width: 100%;
  }
}
