@layer core, site, page;
// Files prefixed with "core-*" are intended to be site agnostic
// and ready to copy into any similar project without modification.

// This is a recent version of the open source CSS normalize project
// https://necolas.github.io/normalize.css/
@import "_core-normalize";
// This is core layout styles that can be copied as-is to any similar site.
@import "_core-layout";
@import "_core-fonts";
@import "_core-videos";

// This non-core layout has any styles that are custom for this site
@import "_layout";
@import "_images";
@import "_fonts";
@import "_navigation";

// Any styles specific to a particular page go in a corresponding file.
@import "_index";

// If you have any styles for this site overall, they can go directly in this file.
@layer site {
  code {
    background-color: $brand-grey;
  }

  .github {
    background-color: $brand-grey;
    color: black;
  }
}
